@font-face {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  src: local("Poiret One"), local("PoiretOne-Regular"), url("http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8fk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"), url("http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}